### March Madness 2018 Prediction
### Created by Sangho Eum, Soobum Jun, Seonghwa Choi

In [3]:
import pandas as pd
import numpy as np
import math
import csv

In [4]:
reg_season_compact_pd = pd.read_csv('data/RegularSeasonCompactResults.csv')
reg_season_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [5]:
reg_season_detailed_pd = pd.read_csv('data/RegularSeasonDetailedResults.csv')
reg_season_detailed_pd.tail()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
76631,2017,132,1276,71,1458,56,N,0,27,48,...,15,6,8,14,18,10,15,4,3,13
76632,2017,132,1343,71,1463,59,N,0,25,52,...,20,13,19,14,20,12,7,4,5,13
76633,2017,132,1348,70,1433,63,N,0,24,54,...,14,17,22,23,24,8,5,4,1,16
76634,2017,132,1374,71,1153,56,N,0,26,52,...,24,14,18,17,22,7,7,7,1,13
76635,2017,132,1407,59,1402,53,N,0,21,60,...,17,7,8,9,27,10,17,1,7,18

In [6]:
season_pd = pd.read_csv('data/Seasons.csv')
season_pd.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [7]:
cities_pd = pd.read_csv('data/Cities.csv')
cities_pd.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [8]:
conference_pd = pd.read_csv('data/Conferences.csv')
conference_pd.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

In [9]:
tor_compact_pd = pd.read_csv('data/NCAATourneyCompactResults.csv')
tor_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [10]:
tor_detailed_pd = pd.read_csv('data/NCAATourneyDetailedResults.csv')
tor_detailed_pd['WFGM']

0      32
1      31
2      31
3      29
4      27
5      17
6      19
7      20
8      24
9      28
10     22
11     28
12     23
13     24
14     29
15     33
16     31
17     25
18     18
19     32
20     19
21     40
22     35
23     27
24     26
25     27
26     33
27     27
28     30
29     31
       ..
951    24
952    23
953    26
954    31
955    27
956    26
957    30
958    31
959    34
960    23
961    28
962    24
963    25
964    27
965    31
966    18
967    34
968    26
969    28
970    28
971    31
972    31
973    23
974    29
975    29
976    27
977    26
978    29
979    25
980    26
Name: WFGM, Length: 981, dtype: int64

In [11]:
tor_seeds_pd =pd.read_csv('data/NCAATourneySeeds.csv')
tor_seeds_pd.tail()

      Season Seed  TeamID
2145    2017  Z12    1292
2146    2017  Z13    1457
2147    2017  Z14    1245
2148    2017  Z15    1297
2149    2017  Z16    1411

In [12]:
teams_pd =pd.read_csv('data/Teams.csv')
teams_pd.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [13]:
listACCteams = ['North Carolina','Virginia','Florida St','Louisville','Notre Dame','Syracuse','Duke','Virginia Tech','Georgia Tech','Miami','Wake Forest','Clemson','NC State','Boston College','Pittsburgh']
listPac12teams = ['Arizona','Oregon','UCLA','California','USC','Utah','Washington St','Stanford','Arizona St','Colorado','Washington','Oregon St']
listSECteams = ['Kentucky','South Carolina','Florida','Arkansas','Alabama','Tennessee','Mississippi St','Georgia','Ole Miss','Vanderbilt','Auburn','Texas A&M','LSU','Missouri']
listBig10teams = ['Maryland','Wisconsin','Purdue','Northwestern','Michigan St','Indiana','Iowa','Michigan','Penn St','Nebraska','Minnesota','Illinois','Ohio St','Rutgers']
listBig12teams = ['Kansas','Baylor','West Virginia','Iowa St','TCU','Kansas St','Texas Tech','Oklahoma St','Texas','Oklahoma']
listBigEastteams = ['Butler','Creighton','DePaul','Georgetown','Marquette','Providence','Seton Hall','St John\'s','Villanova','Xavier']

In [18]:
def reg_season_data(team_id, year):
    
    
#bring year data
    year_data_compact_pd = reg_season_compact_pd[reg_season_compact_pd['Season'] == year]
    year_data_detailed_pd = reg_season_detailed_pd[reg_season_detailed_pd['Season'] == year]
    # detailed num game, compact num game 같은것 확인함
    ##numgames = len(year_data_compact_pd)
    #by number of won/lose
    gamesWon_compact = year_data_compact_pd[year_data_compact_pd.WTeamID == team_id] 
    gamesLose_compact = year_data_compact_pd[year_data_compact_pd.LTeamID == team_id]
    gamesWon = year_data_detailed_pd[year_data_detailed_pd.WTeamID == team_id] 
    gamesLose = year_data_detailed_pd[year_data_detailed_pd.LTeamID == team_id]
    #print(gamesWon)
    len_gamesWon_compact = len(gamesWon_compact)
    len_gamesLose_compact = len(gamesLose_compact)
    totalgame_compact = len_gamesWon_compact + len_gamesLose_compact
#     print(totalgame_compact)
    
    len_gamesWon = len(gamesWon)
    len_gamesLose = len(gamesLose)
    totalgame = len_gamesWon + len_gamesLose
    
#     print(reg_totalgame)
    #winning ratio
    winning_ratio = len_gamesWon/totalgame
    numgames = totalgame
#     print(winning_ratio)
    


    #by point(avg score per game/ total score/ total score won / total score lose)
    won_score_total = gamesWon_compact['WScore'].sum()
    lose_score_total = gamesLose_compact['LScore'].sum()
    
    opnt_won_score_total = gamesWon_compact['LScore'].sum()
    opnt_lose_score_total = gamesLose_compact['WScore'].sum()
    total_score = won_score_total + lose_score_total
    avg_score_per_game = total_score/numgames
    avg_score_allowed_to_opont = (opnt_won_score_total+ opnt_lose_score_total)/numgames 
#     print(avg_score_allowed_to_opont)

        #3point made
            
    num_of_won_3point_made = gamesWon['WFGM3'].sum()
    num_of_won_3point_attempt = gamesWon['WFGA3'].sum()
    num_of_lose_3point_made = gamesLose['LFGM3'].sum()
    num_of_lose_3point_attempt = gamesLose['LFGA3'].sum()
#     print(num_of_won_3point_made)
    num_of_3point_made_total = num_of_won_3point_made + num_of_lose_3point_made
    num_of_3point_attempt_total = num_of_won_3point_attempt + num_of_lose_3point_attempt
#     print(num_of_3point_made_total)
    # num of 3 per game 
    num_of_3point_made_per_game = num_of_3point_made_total/numgames
    num_of_3point_attempt_per_game = num_of_3point_attempt_total/numgames 
#     print(num_of_3point_made_per_game)
    # % of 3 made per game
    prcnt_of_3_point_made = num_of_3point_made_per_game/num_of_3point_attempt_per_game
#     print(prcnt_of_3_point_made)      
            
    
    #field goal made
    num_of_won_FG_made = gamesWon['WFGM'].sum()
    num_of_won_FG_attempt = gamesWon['WFGA'].sum()
    num_of_lose_FG_made = gamesLose['LFGM'].sum()
    num_of_lose_FG_attempt = gamesLose['LFGA'].sum()
    
    num_of_FG_made_total = num_of_won_FG_made + num_of_lose_FG_made
    num_of_FG_attempt_total = num_of_won_FG_attempt + num_of_lose_FG_attempt
        #opponent
    num_opnt_FG_attempt_total = gamesLose['WFGA'].sum()+gamesWon['LFGA'].sum()
    num_opnt_FG_made_total = gamesLose['WFGM'].sum()+gamesWon['LFGM'].sum()
    
    #num of FG per game 
    num_of_FG_made_per_game = num_of_FG_made_total/numgames
    num_of_FG_attempt_per_game = num_of_FG_attempt_total/numgames 

    #% of FG made 
    prcnt_of_FG_point_made = num_of_FG_made_per_game/num_of_FG_attempt_per_game
    
    #by turnover(turnover per game)
    
        #id team 
    won_turnover= gamesWon['WTO'].sum()
    lose_turnover = gamesLose['LTO'].sum()
    turnover_total = won_turnover + lose_turnover

    avg_turnover = turnover_total/numgames
#     print(avg_turnover)
        #opponent team  ####체크
    opnt_lose_turnover = gamesLose['WTO'].sum()
    opnt_won_turnover = gamesWon['LTO'].sum()

    opnt_turnover_total = opnt_lose_turnover + opnt_won_turnover
    opnt_turnover_avg = opnt_turnover_total/numgames
#     print(opnt_turnover_avg)

    
    #assist per game 
    assist_won = gamesWon['WAst'].sum()
    assist_lose = gamesLose['LAst'].sum()
    
    assist_total = assist_won + assist_lose
    assist_avg = assist_total/numgames
#     print(assist_avg)

#rebound per game
    
        #offensive
    ofns_rebound_won =gamesWon['WOR'].sum()
    ofns_rebound_lose = gamesLose['LOR'].sum()
    
    ofns_rebound_total = ofns_rebound_won+ ofns_rebound_lose
    ofns_rebound_avg = ofns_rebound_total/numgames
            #opponemt
    opnt_ofns_rebound_lose = gamesLose['WOR'].sum()
    opnt_ofns_rebound_won = gamesWon['LOR'].sum()
    opnt_ofns_rebound_total= opnt_ofns_rebound_won + opnt_ofns_rebound_lose
    
        #defensive
    defn_rebound_won =gamesWon['WDR'].sum()
    defn_rebound_lose = gamesLose['LDR'].sum()
    
    defn_rebound_total= defn_rebound_won+defn_rebound_lose
            #opponent
    opnt_defn_rebound_lose = gamesLose['WDR'].sum()
    opnt_defn_rebound_won = gamesWon['LDR'].sum()
   
    opnt_defn_rebound_total=opnt_defn_rebound_lose+opnt_defn_rebound_won
    
    opnt_defn_rebound_total = opnt_ofns_rebound_won + opnt_defn_rebound_lose
    opnt_defn_rebound_avg = opnt_ofns_rebound_total/numgames
#     print(opnt_defn_rebound_avg)
    
    #opnt foul 
    opnt_lose_foul = gamesLose['WPF'].sum()
    opnt_won_foul = gamesWon["LPF"].sum()
        
    opnt_foul_total = opnt_lose_foul + opnt_won_foul
    opnt_foul_avg = opnt_turnover_total/numgames
    
    # free throw
    won_free_throw_attempt = gamesWon['WFTA'].sum()
    won_free_throw_made = gamesWon['WFTM'].sum()
    lose_free_throw_attempt = gamesLose['WFTA'].sum()
    lose_free_throw_made = gamesLose['WFTM'].sum()
    
    free_throw_attempt_total = won_free_throw_attempt + lose_free_throw_attempt
    free_throw_made_total = won_free_throw_made + lose_free_throw_made
   
    opnt_free_throw_attempt_total = gamesLose['WFTA'].sum()+gamesWon['LFTA'].sum()
    opnt_free_throw_made_total= gamesLose['WFTM'].sum()+gamesWon['LFTM'].sum()
    
    #% of free throw made
    
    per_free_throw_made = free_throw_made_total/free_throw_attempt_total
#     print(per_free_throw_made)
    
    
    #% of turn over 
    per_won_turn_over_rate = (100*turnover_total)/(num_of_FG_attempt_total+(0.44*free_throw_attempt_total)+ turnover_total)

#     print(per_won_turn_over_rate)
    
    #% of effective field goal 
    per_effective_FG = (num_of_FG_made_total+0.5*num_of_3point_made_total)/num_of_FG_attempt_total
#     print(per_effective_FG)
    
    #posessions 
    possession = 0.5*((num_of_FG_attempt_total+0.4*free_throw_attempt_total\
                       -1.07*(ofns_rebound_total/(ofns_rebound_total+opnt_defn_rebound_total))\
                       *(num_of_FG_attempt_total-num_of_FG_made_total)+turnover_total)\
                      +(num_opnt_FG_attempt_total+0.4*opnt_free_throw_attempt_total\
                        -1.07*(opnt_ofns_rebound_total/(opnt_ofns_rebound_total+defn_rebound_total))\
                        *(num_opnt_FG_attempt_total-num_opnt_FG_made_total)+opnt_turnover_total))
#     print(possession)
    
    return [gamesWon, gamesLose, winning_ratio, won_score_total,\
            lose_score_total, opnt_won_score_total, opnt_lose_score_total,avg_score_per_game,\
           num_of_3point_made_per_game,num_of_3point_attempt_per_game,prcnt_of_3_point_made,\
           num_of_FG_made_per_game, num_of_FG_attempt_per_game,prcnt_of_FG_point_made,turnover_total,\
            avg_turnover,opnt_turnover_total,opnt_turnover_avg,assist_total,assist_avg,defn_rebound_total,\
            opnt_defn_rebound_total,opnt_defn_rebound_avg,opnt_foul_avg,opnt_foul_total,\
            opnt_free_throw_attempt_total,opnt_free_throw_made_total,per_free_throw_made,\
            per_won_turn_over_rate,per_effective_FG,possession]
reg_season_data(1276,2017)
# def tor_data_game_results(team_id, year): 
#     #tournament seed(how are we going to weight is important)
#     tor_seeds = tor_seeds_pd['Seed']

13.099188644194282
0.5690288713910762
2168.4113773088566

[       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  \
 71289    2017      11     1276      76     1224      58    H      0    22
 71389    2017      13     1276      77     1237      65    H      0    27
 71574    2017      17     1276      79     1266      61    N      0    27
 71623    2017      18     1276      76     1374      54    N      0    27
 72080    2017      26     1276      64     1291      47    H      0    24
 72400    2017      33     1276      82     1244      55    H      0    30
 72518    2017      36     1276      53     1400      50    H      0    20
 72767    2017      43     1276      97     1146      53    H      0    32
 72875    2017      47     1276      98     1271      49    H      0    34
 73134    2017      52     1276      68     1202      62    H      0    24
 73536    2017      65     1276      72     1336      69    H      0    25
 74026    2017      75     1276      91     1304      85    H      0    27
 74362    2017      82     1276      66     1228      57    H      0    23
 74585    2017      87     1276      90     1231      60    H      0    31
 75159    2017      99     1276      86     1277      57    H      0    32
 75446    2017     104     1276      75     1231      63    A      0    26
 75583    2017     108     1276      64     1458      58    H      0    23
 75859    2017     114     1276      68     1353      64    A      0    22
 76026    2017     117     1276      82     1345      70    H      0    30
 76421    2017     125     1276      93     1304      57    A      0    34
 76528    2017     129     1276      75     1228      55    N      0    30
 76575    2017     130     1276      74     1345      70    N      1    25
 76611    2017     131     1276      84     1278      77    N      0    29
 76631    2017     132     1276      71     1458      56    N      0    27

        WFGA ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
 71289    52 ...      12    14    29    8   21     7   17     1     1   26
 71389    60 ...      14    14    19    7   24    10    8     3     2   17
 71574    53 ...      15    13    18    6   21    12   15     9     4   19
 71623    51 ...      16     4    10   18   23     9   12     3     0   13
 72080    55 ...      14     5     5    3   21     8   11     4     4   12
 72400    53 ...      12     4     6    3   16    11   13     3     2   17
 72518    48 ...      16     5     6    7   24    11   14     6     4   15
 72767    62 ...       9     3     8    4   23     8   14     1     0   16
 72875    52 ...      19     5    10   11   15     9   15     5     1   21
 73134    55 ...      18    13    16    7   23     9   13     2     2   18
 73536    56 ...      19    13    19    9   29    10   14     2     6   17
 74026    50 ...      18     4     5   10   19     9   13     7     3   23
 74362    51 ...      12    11    14    6   21     9   17     4     2   20
 74585    49 ...      13     5     8    5   15    10   16     2     2   20
 75159    53 ...      16     6     9    6   20    10   21     3     0   19
 75446    55 ...      19     9    14    8   24    10   15     4     4   21
 75583    50 ...      16     9     9   11   24    12   11     5     5   15
 75859    54 ...      16    10    13    9   24     9    7     8     1   18
 76026    55 ...      16     5     8   11   20     9   11     4     1   16
 76421    54 ...      15    13    22   12   14    11   16     6     0   14
 76528    56 ...      15     5     9    4   22     8   14     2     2   13
 76575    60 ...      19     6    13   10   27    17   16     9     2   19
 76611    54 ...      13    12    14   15   23    11   11     2     1   16
 76631    48 ...      15     6     8   14   18    10   15     4     3   13

 [24 rows x 34 columns],
        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  \
 71931    2017      23     1376      61     1276      46    H      0    23
 72297    2017      30     1439      73     1276      70    A      0    24
 72710    2017      40     1417     102     1276      84    H      0    39
 73432    2017      62     1234      86     1276      83    H      1    33
 73698    2017      68     1268      77     1276      70    A      0    28
 73856    2017      72     1228      85     1276      69    H      0    34
 74179    2017      78     1458      68     1276      64    H      0    24
 74777    2017      90     1277      70     1276      62    H      0    24
 75050    2017      96     1326      70     1276      66    A      0    21
 75781    2017     111     1278      83     1276      78    H      1    25
 76195    2017     121     1321      67     1276      65    H      0    27

        WFGA ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
 71931    53 ...      26    24    32   18   18     2   16     7     0   17
 72297    46 ...      27     4     7    8   18    11    9     3     1   21
 72710    58 ...      26    12    13    9   14    16    8     6     0   17
 73432    69 ...      35     3     5   14   25    21    8     7     2   16
 73698    54 ...      21     6    10    8   18    10    9     7     4   13
 73856    53 ...      14     8    10    4   13    12    8     6     0   15
 74179    53 ...      21    10    11    5   27    10   10     3     4   21
 74777    46 ...      26    17    19   14   19     9   13     3     3   21
 75050    52 ...      35    15    18    7   17    10   12     4     2   22
 75781    57 ...      26     9    18    3   28    17    9     6     1   28
 76195    51 ...      22    11    17    9   20    13    9     5     5   15

 [11 rows x 34 columns],
 0.6857142857142857,
 1861,
 757,
 1452,
 842,
 74.8,
 9.371428571428572,
 24.571428571428573,
 0.3813953488372093,
 26.285714285714285,
 54.42857142857143,
 0.4829396325459317,
 330,
 9.428571428571429,
 453,
 12.942857142857143,
 483,
 13.8,
 766,
 471,
 9.114285714285714,
 12.942857142857143,
 601,
 517,
 352,
 0.7569659442724458,
 13.099188644194282,
 0.5690288713910762,
 2168.4113773088566]

In [17]:
def tor_season_data(team_id, year):
    #bring year data
    year_data_compact_pd = tor_compact_pd[tor_compact_pd['Season'] == year]
    year_data_detailed_pd = tor_detailed_pd[tor_detailed_pd['Season'] == year]
    # detailed num game, compact num game 같은것 확인함
    ##numgames = len(year_data_compact_pd)
    #by number of won/lose
    gamesWon_compact = year_data_compact_pd[year_data_compact_pd.WTeamID == team_id] 
    gamesLose_compact = year_data_compact_pd[year_data_compact_pd.LTeamID == team_id]
    gamesWon = year_data_detailed_pd[year_data_detailed_pd.WTeamID == team_id] 
    gamesLose = year_data_detailed_pd[year_data_detailed_pd.LTeamID == team_id]
    
#     print(gamesWon)
    len_gamesWon_compact = len(gamesWon_compact)
    len_gamesLose_compact = len(gamesLose_compact)
    totalgame = len_gamesWon_compact + len_gamesLose_compact
#     print(totalgame)
    
    len_gamesWon = len(gamesWon)
    len_gamesLose = len(gamesLose)
    totalgame = len_gamesWon + len_gamesLose
    
#     print(reg_totalgame)
    #winning ratio
    winning_ratio = len_gamesWon/totalgame
    numgames = totalgame
#     print(winning_ratio)
    


    #by point(avg score per game/ total score/ total score won / total score lose)
    won_score_total = gamesWon_compact['WScore'].sum()
    lose_score_total = gamesLose_compact['LScore'].sum()
    
    opnt_won_score_total = gamesWon_compact['LScore'].sum()
    opnt_lose_score_total = gamesLose_compact['WScore'].sum()
    total_score = won_score_total + lose_score_total
    avg_score_per_game = total_score/numgames
    avg_score_allowed_to_opont = (opnt_won_score_total+ opnt_lose_score_total)/numgames 
#     print(avg_score_allowed_to_opont)

        #3point made
            
    num_of_won_3point_made = gamesWon['WFGM3'].sum()
    num_of_won_3point_attempt = gamesWon['WFGA3'].sum()
    num_of_lose_3point_made = gamesLose['LFGM3'].sum()
    num_of_lose_3point_attempt = gamesLose['LFGA3'].sum()
#     print(num_of_won_3point_made)
    num_of_3point_made_total = num_of_won_3point_made + num_of_lose_3point_made
    num_of_3point_attempt_total = num_of_won_3point_attempt + num_of_lose_3point_attempt
#     print(num_of_3point_made_total)
    # num of 3 per game 
    num_of_3point_made_per_game = num_of_3point_made_total/numgames
    num_of_3point_attempt_per_game = num_of_3point_attempt_total/numgames 
#     print(num_of_3point_made_per_game)
    # % of 3 made per game
    prcnt_of_3_point_made = num_of_3point_made_per_game/num_of_3point_attempt_per_game
#     print(prcnt_of_3_point_made)      
            
    
    #field goal made
    num_of_won_FG_made = gamesWon['WFGM'].sum()
    num_of_won_FG_attempt = gamesWon['WFGA'].sum()
    num_of_lose_FG_made = gamesLose['LFGM'].sum()
    num_of_lose_FG_attempt = gamesLose['LFGA'].sum()
    
    num_of_FG_made_total = num_of_won_FG_made + num_of_lose_FG_made
    num_of_FG_attempt_total = num_of_won_FG_attempt + num_of_lose_FG_attempt
        #opponent
    num_opnt_FG_attempt_total = gamesLose['WFGA'].sum()+gamesWon['LFGA'].sum()
    num_opnt_FG_made_total = gamesLose['WFGM'].sum()+gamesWon['LFGM'].sum()
    
    #num of FG per game 
    num_of_FG_made_per_game = num_of_FG_made_total/numgames
    num_of_FG_attempt_per_game = num_of_FG_attempt_total/numgames 

    #% of FG made 
    prcnt_of_FG_point_made = num_of_FG_made_per_game/num_of_FG_attempt_per_game
    
    #by turnover(turnover per game)
    
        #id team 
    won_turnover= gamesWon['WTO'].sum()
    lose_turnover = gamesLose['LTO'].sum()
    turnover_total = won_turnover + lose_turnover

    avg_turnover = turnover_total/numgames
#     print(avg_turnover)
        #opponent team  ####체크
    opnt_lose_turnover = gamesLose['WTO'].sum()
    opnt_won_turnover = gamesWon['LTO'].sum()

    opnt_turnover_total = opnt_lose_turnover + opnt_won_turnover
    opnt_turnover_avg = opnt_turnover_total/numgames
#     print(opnt_turnover_avg)

    
    #assist per game 
    assist_won = gamesWon['WAst'].sum()
    assist_lose = gamesLose['LAst'].sum()
    
    assist_total = assist_won + assist_lose
    assist_avg = assist_total/numgames
#     print(assist_avg)

#rebound per game
    
        #offensive
    ofns_rebound_won =gamesWon['WOR'].sum()
    ofns_rebound_lose = gamesLose['LOR'].sum()
    
    ofns_rebound_total = ofns_rebound_won+ ofns_rebound_lose
    ofns_rebound_avg = ofns_rebound_total/numgames
            #opponemt
    opnt_ofns_rebound_lose = gamesLose['WOR'].sum()
    opnt_ofns_rebound_won = gamesWon['LOR'].sum()
    opnt_ofns_rebound_total= opnt_ofns_rebound_won + opnt_ofns_rebound_lose
    
        #defensive
    defn_rebound_won =gamesWon['WDR'].sum()
    defn_rebound_lose = gamesLose['LDR'].sum()
    
    defn_rebound_total= defn_rebound_won+defn_rebound_lose
            #opponent
    opnt_defn_rebound_lose = gamesLose['WDR'].sum()
    opnt_defn_rebound_won = gamesWon['LDR'].sum()
   
    opnt_defn_rebound_total=opnt_defn_rebound_lose+opnt_defn_rebound_won
    
    opnt_defn_rebound_total = opnt_ofns_rebound_won + opnt_defn_rebound_lose
    opnt_defn_rebound_avg = opnt_ofns_rebound_total/numgames
#     print(opnt_defn_rebound_avg)
    
    #opnt foul 
    opnt_lose_foul = gamesLose['WPF'].sum()
    opnt_won_foul = gamesWon["LPF"].sum()
        
    opnt_foul_total = opnt_lose_foul + opnt_won_foul
    opnt_foul_avg = opnt_turnover_total/numgames
    
    # free throw
    won_free_throw_attempt = gamesWon['WFTA'].sum()
    won_free_throw_made = gamesWon['WFTM'].sum()
    lose_free_throw_attempt = gamesLose['WFTA'].sum()
    lose_free_throw_made = gamesLose['WFTM'].sum()
    
    free_throw_attempt_total = won_free_throw_attempt + lose_free_throw_attempt
    free_throw_made_total = won_free_throw_made + lose_free_throw_made
   
    opnt_free_throw_attempt_total = gamesLose['WFTA'].sum()+gamesWon['LFTA'].sum()
    opnt_free_throw_made_total= gamesLose['WFTM'].sum()+gamesWon['LFTM'].sum()
    
    #% of free throw made
    
    per_free_throw_made = free_throw_made_total/free_throw_attempt_total
#     print(per_free_throw_made)
    
    
    #% of turn over 
    per_won_turn_over_rate = (100*turnover_total)/(num_of_FG_attempt_total+(0.44*free_throw_attempt_total)+ turnover_total)

#     print(per_won_turn_over_rate)
    
    #% of effective field goal 
    per_effective_FG = (num_of_FG_made_total+0.5*num_of_3point_made_total)/num_of_FG_attempt_total
#     print(per_effective_FG)
    
    #posessions 
    possession = 0.5*((num_of_FG_attempt_total+0.4*free_throw_attempt_total-1.07*(ofns_rebound_total/(ofns_rebound_total+opnt_defn_rebound_total))*(num_of_FG_attempt_total-num_of_FG_made_total)+turnover_total)+(num_opnt_FG_attempt_total+0.4*opnt_free_throw_attempt_total-1.07*(opnt_ofns_rebound_total/(opnt_ofns_rebound_total+defn_rebound_total))*(num_opnt_FG_attempt_total-num_opnt_FG_made_total)+opnt_turnover_total))
#     print(possession)
    
    return [gamesWon, gamesLose, winning_ratio, won_score_total,\
            lose_score_total, opnt_won_score_total, opnt_lose_score_total,avg_score_per_game,\
           num_of_3point_made_per_game,num_of_3point_attempt_per_game,prcnt_of_3_point_made,\
           num_of_FG_made_per_game, num_of_FG_attempt_per_game,prcnt_of_FG_point_made,turnover_total,\
            avg_turnover,opnt_turnover_total,opnt_turnover_avg,assist_total,assist_avg,defn_rebound_total,\
            opnt_defn_rebound_total,opnt_defn_rebound_avg,opnt_foul_avg,opnt_foul_total,\
            opnt_free_throw_attempt_total,opnt_free_throw_made_total,per_free_throw_made,\
            per_won_turn_over_rate,per_effective_FG,possession]
tor_season_data(1276,2017)
# def tor_data_game_results(team_id, year): 
#     #tournament seed(how are we going to weight is important)
#     tor_seeds = tor_seeds_pd['Seed']

[     Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
 941    2017     137     1276      92     1329      91    N      0    29    56
 961    2017     139     1276      73     1257      69    N      0    28    57

     ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
 941 ...      16    14    16   16   24    17   10     3     3   22
 961 ...      20     8    12   15   22    12   11     4     5   18

 [2 rows x 34 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
 968    2017     143     1332      69     1276      68    N      0    26    58

     ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
 968 ...      31     7     7    2   29    16    8     3     2   16

 [1 rows x 34 columns],
 0.6666666666666666,
 165,
 68,
 160,
 69,
 77.66666666666667,
 11.0,
 25.666666666666668,
 0.42857142857142855,
 27.333333333333332,
 57.0,
 0.47953216374269003,
 18,
 6.0,
 26,
 8.666666666666666,
 46,
 15.333333333333334,
 65,
 61,
 12.333333333333334,
 8.666666666666666,
 49,
 44,
 31,
 0.7307692307692307,
 8.495374740419106,
 0.5760233918128655,
 189.57992081447964]